.governorFacility {
    margin-bottom: 50px; 
}

.governor {
    display: flex; 
}

.facility {
    display: flex; 
}

.facilitySpaceCart {
    display: flex;
    justify-content: space-evenly; 
}

.topHalf {
    display: flex; 
    justify-content: space-evenly;
}

.colonyMinerals {
    color: rgb(10, 158, 168);
    text-shadow: 1px 0px 2px rgb(48, 48, 49);
     
}

.title {
    text-align: center;
    font-family:American Typewriter, serif;
    font-size: 3rem;
    color: rgb(43, 43, 42);
    text-shadow: 2px 0px 2px rgb(241, 243, 245);
    box-shadow:0.25rem 0.25rem 0.5rem rgb(143, 143, 143);

    background-color: black;
    
}

.facilityMinerals {
    flex-basis: 24%;
    font-size: 25px;
    color: rgb(15, 221, 108);
    text-shadow: .5px 0px 2px rgb(8, 8, 8);
    text-align: center;
    margin: 0 2rem;
    border: 1px dashed dodgerblue;
    padding: .5rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}

.spaceCart {
    flex-basis: 24%;
    text-align: center;
    margin: 0 2rem;
    border: 1px dashed dodgerblue;
    padding: .5rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}



#orderButton {
    flex-basis: 24%;
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: rgb(227, 227, 230);
    color: black; 
    font-size: 1rem;
}

h1 {
  color: black;
  text-shadow: 2px 0px 2px rgb(71, 156, 240);
}