.governorFacility {
    margin-bottom: 50px; 
}

.governor {
    display: flex; 
}

.facility {
    display: flex; 
}

.facilitySpaceCart {
    display: flex;
    justify-content: space-evenly; 
}

.topHalf {
    display: flex; 
    justify-content: space-evenly;
}

.colonyMinerals {
     
}

.title {
    text-align: center
}

.facilityMinerals {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dashed dodgerblue;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}

.spaceCart {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dashed dodgerblue;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}



#orderButton {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: rgb(227, 227, 230);
    color: black; 
    font-size: 1rem;
}